body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3212px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:245px;
  top:0px;
  width:1020px;
  height:3212px;
}
#u83 {
  position:absolute;
  left:2px;
  top:1598px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:3086px;
}
#u84 {
  position:absolute;
  left:283px;
  top:108px;
  width:951px;
  height:3086px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u86 {
  position:absolute;
  left:283px;
  top:36px;
  width:256px;
  height:36px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:2px;
}
#u88 {
  position:absolute;
  left:283px;
  top:82px;
  width:951px;
  height:1px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-8px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:fixed;
  left:24px;
  top:140px;
  width:191px;
  height:234px;
  overflow:hidden;
}
#u90_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:234px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u91 {
  position:absolute;
  left:15px;
  top:24px;
  width:150px;
  height:19px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u93 {
  position:absolute;
  left:15px;
  top:53px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u95 {
  position:absolute;
  left:15px;
  top:82px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u97 {
  position:absolute;
  left:15px;
  top:111px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u99 {
  position:absolute;
  left:15px;
  top:140px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u101 {
  position:absolute;
  left:15px;
  top:169px;
  width:85px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u103 {
  position:absolute;
  left:15px;
  top:198px;
  width:71px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u105_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:17px;
}
#u105 {
  position:absolute;
  left:5px;
  top:26px;
  width:3px;
  height:14px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u107 {
  position:absolute;
  left:15px;
  top:-1px;
  width:45px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u109 {
  position:fixed;
  left:24px;
  top:20px;
  width:158px;
  height:68px;
  overflow:hidden;
}
#u109_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u109_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u111 {
  position:absolute;
  left:2px;
  top:24px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
