body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:663px;
}
#u216 {
  position:absolute;
  left:232px;
  top:211px;
  width:884px;
  height:663px;
}
#u217 {
  position:absolute;
  left:2px;
  top:324px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
}
#u218 {
  position:absolute;
  left:45px;
  top:36px;
  width:149px;
  height:64px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u219 {
  position:absolute;
  left:2px;
  top:24px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u220 {
  position:absolute;
  left:232px;
  top:81px;
  width:45px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u222 {
  position:absolute;
  left:312px;
  top:81px;
  width:148px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u224 {
  position:absolute;
  left:495px;
  top:81px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u226 {
  position:absolute;
  left:602px;
  top:81px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u228 {
  position:absolute;
  left:706px;
  top:81px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u230 {
  position:absolute;
  left:813px;
  top:81px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u232 {
  position:absolute;
  left:917px;
  top:81px;
  width:85px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u234 {
  position:absolute;
  left:1037px;
  top:81px;
  width:71px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
