body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
}
#u66 {
  position:absolute;
  left:574px;
  top:17px;
  width:149px;
  height:64px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u68 {
  position:absolute;
  left:99px;
  top:39px;
  width:45px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u70 {
  position:absolute;
  left:179px;
  top:39px;
  width:150px;
  height:19px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u72 {
  position:absolute;
  left:363px;
  top:39px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u74 {
  position:absolute;
  left:470px;
  top:39px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u76 {
  position:absolute;
  left:758px;
  top:39px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u78 {
  position:absolute;
  left:866px;
  top:39px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u80 {
  position:absolute;
  left:970px;
  top:39px;
  width:85px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u82 {
  position:absolute;
  left:1090px;
  top:39px;
  width:71px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:2px;
}
#u84 {
  position:absolute;
  left:-17px;
  top:103px;
  width:1281px;
  height:1px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:419px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:-16px;
  top:3185px;
  width:1281px;
  height:419px;
}
#u87 {
  position:absolute;
  left:2px;
  top:202px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:100px;
  top:3222px;
  width:91px;
  height:59px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:88px;
}
#u90 {
  position:absolute;
  left:100px;
  top:3271px;
  width:367px;
  height:88px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:242px;
}
#u92 {
  position:absolute;
  left:663px;
  top:3271px;
  width:499px;
  height:242px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
}
#u94 {
  position:absolute;
  left:663px;
  top:3222px;
  width:76px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:152px;
  height:5px;
}
#u96 {
  position:absolute;
  left:178px;
  top:61px;
  width:149px;
  height:2px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:3096px;
}
#u98 {
  position:absolute;
  left:99px;
  top:190px;
  width:1051px;
  height:3096px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#DF2025;
}
#u100 {
  position:absolute;
  left:99px;
  top:133px;
  width:256px;
  height:36px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#DF2025;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:259px;
  height:5px;
}
#u102 {
  position:absolute;
  left:99px;
  top:169px;
  width:256px;
  height:2px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-7px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
