body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:1715px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:245px;
  top:0px;
  width:1020px;
  height:1715px;
}
#u13 {
  position:absolute;
  left:2px;
  top:850px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:311px;
  top:655px;
  width:889px;
  height:436px;
}
#u15 {
  position:absolute;
  left:2px;
  top:210px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u16 {
  position:absolute;
  left:311px;
  top:36px;
  width:257px;
  height:44px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u18 {
  position:absolute;
  left:311px;
  top:577px;
  width:249px;
  height:44px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:297px;
}
#u20 {
  position:absolute;
  left:565px;
  top:747px;
  width:594px;
  height:297px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:419px;
}
#u22 {
  position:absolute;
  left:311px;
  top:100px;
  width:165px;
  height:419px;
}
#u23 {
  position:absolute;
  left:2px;
  top:202px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:419px;
}
#u24 {
  position:absolute;
  left:1035px;
  top:100px;
  width:165px;
  height:419px;
}
#u25 {
  position:absolute;
  left:2px;
  top:202px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:419px;
}
#u26 {
  position:absolute;
  left:476px;
  top:100px;
  width:559px;
  height:419px;
}
#u27 {
  position:absolute;
  left:2px;
  top:202px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u28 {
  position:absolute;
  left:311px;
  top:1151px;
  width:255px;
  height:44px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u30 {
  position:absolute;
  left:942px;
  top:36px;
  width:258px;
  height:44px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-decoration:underline;
  color:#666666;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:299px;
}
#u32 {
  position:absolute;
  left:341px;
  top:747px;
  width:198px;
  height:299px;
}
#u33 {
  position:absolute;
  left:2px;
  top:142px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u34 {
  position:absolute;
  left:341px;
  top:678px;
  width:282px;
  height:59px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:27px;
}
#u36 {
  position:absolute;
  left:865px;
  top:694px;
  width:294px;
  height:27px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#DF2025;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:108px;
}
#u38 {
  position:absolute;
  left:311px;
  top:1228px;
  width:367px;
  height:108px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:297px;
}
#u40 {
  position:absolute;
  left:311px;
  top:1367px;
  width:499px;
  height:297px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u42 {
  position:fixed;
  left:24px;
  top:140px;
  width:191px;
  height:234px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:234px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u43 {
  position:absolute;
  left:15px;
  top:24px;
  width:148px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u45 {
  position:absolute;
  left:15px;
  top:53px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u47 {
  position:absolute;
  left:15px;
  top:82px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u49 {
  position:absolute;
  left:15px;
  top:111px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u51 {
  position:absolute;
  left:15px;
  top:140px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u53 {
  position:absolute;
  left:15px;
  top:169px;
  width:85px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u55 {
  position:absolute;
  left:15px;
  top:198px;
  width:71px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u57 {
  position:absolute;
  left:15px;
  top:0px;
  width:46px;
  height:19px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:17px;
}
#u59 {
  position:absolute;
  left:5px;
  top:2px;
  width:3px;
  height:14px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:234px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u61 {
  position:absolute;
  left:15px;
  top:24px;
  width:150px;
  height:19px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#DF2025;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u63 {
  position:absolute;
  left:15px;
  top:53px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u65 {
  position:absolute;
  left:15px;
  top:82px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u67 {
  position:absolute;
  left:15px;
  top:111px;
  width:72px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u69 {
  position:absolute;
  left:15px;
  top:140px;
  width:69px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u71 {
  position:absolute;
  left:15px;
  top:169px;
  width:85px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u73 {
  position:absolute;
  left:15px;
  top:198px;
  width:71px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:17px;
}
#u75 {
  position:absolute;
  left:5px;
  top:26px;
  width:3px;
  height:14px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u77 {
  position:absolute;
  left:15px;
  top:-1px;
  width:45px;
  height:19px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u79 {
  position:fixed;
  left:24px;
  top:20px;
  width:158px;
  height:68px;
  overflow:hidden;
}
#u79_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
  font-family:'Avenir-Roman', 'Avenir Roman', 'Avenir';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u81 {
  position:absolute;
  left:2px;
  top:24px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
